

/* GLOBAL RESET */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,
del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td {border: 0; margin: 0; padding: 0;}

article,aside,figure,figure img,figcaption,
hgroup,footer,header,nav,section,video,object {display: block;}

a img		{border: 0;}
figure		{position: relative;}
figure img	{width: 100%;}
*:focus		{outline: 0;}

/* ROW900 GENERAL SETTINGS */
.ROW900	{
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
		overflow-y: hidden;
		}

.COL900, .COL800, .COL700, .COL600, .COL500, 
.COL450, .COL400, .COL300, .COL225, .COL200, 
.COL100 {min-height: 1px; margin-left: 20px; word-break: break-word; display:inline; float:left;}


.BASIC-PANEL	{
				min-height: 50px;
				margin-top: 20px;
				/*text-align: center;*/
				background: gold;
				display: flex;
				justify-content: center;
				align-items: center;
				}

/* SCREEN SIZE 0PX TO 760PX */
@media only screen and (min-width: 1px) and (max-width: 760px) {
.ROW900, .COL900, .COL800, .COL700, .COL600, .COL500, 
.COL450, .COL400, .COL300, .COL225, .COL200, .COL100 {width: 100%; margin-left: 0px;}
}


/* SCREEN SIZE 760PX TO 980PX */
@media only screen and (min-width: 760px) and (max-width: 980px) {
	.ROW900		{width: 758px;}
	.COL900		{width: 718px;}
	.COL800		{width: 636px;}
	.COL700		{width: 554px;}
	.COL600		{width: 472px;}
	.COL500		{width: 390px;}
	.COL450		{width: 348px;}
	.COL400		{width: 308px;}
	.COL300		{width: 226px;}
	.COL225		{width: 164px;}
	.COL200		{width: 144px;}
	.COL100		{width: 62px;}
}


/* SCREEN SIZE 980PX TO 1280PX */
@media only screen and (min-width: 980px) and (max-width: 1280px) {
	.ROW900		{width: 974px;}
	.COL900		{width: 934px;}
	.COL800		{width: 828px;}
	.COL700		{width: 722px;}
	.COL600		{width: 616px;}
	.COL500		{width: 510px;}
	.COL450		{width: 457px;}
	.COL400		{width: 404px;}
	.COL300		{width: 298px;}
	.COL225		{width: 218px;}
	.COL200		{width: 192px;}
	.COL100		{width: 86px;}
}


/* SCREEN SIZE 1280PX TO 1600PX */
@media only screen and (min-width: 1280px) and (max-width: 1600px) {
	.ROW900		{width: 1262px;}
	.COL900		{width: 1222px;}
	.COL800		{width: 1084px;}
	.COL700		{width: 946px;}
	.COL600		{width: 808px;}
	.COL500		{width: 670px;}
	.COL450		{width: 601px;}
	.COL400		{width: 532px;}
	.COL300		{width: 394px;}
	.COL225		{width: 290px;}
	.COL200		{width: 256px;}
	.COL100		{width: 118px;}
}


/* SCREEN SIZE 1600PX TO 1940PX */
@media only screen and (min-width: 1600px) {
	.ROW900		{width: 1596px;}
	.COL900		{width: 1555px;}
	.COL800		{width: 1380px;}
	.COL700		{width: 1205px;}
	.COL600		{width: 1030px;}
	.COL500		{width: 855px;}
	.COL450		{width: 767px;}
	.COL400		{width: 680px;}
	.COL300		{width: 505px;}
	.COL225		{width: 374px;}
	.COL200		{width: 330px;}
	.COL100		{width: 155px;}
}